<article class="prose max-w-none lg:px-8">
    <h1 id="select">
        Select
    </h1>

    <p>To use the select component you need to load it in the module you'll use it:</p>

    <markdown [data]="markdownLoad"></markdown>

    <h2>Demo</h2>
    <h3 id="basic-usage">Basic usage</h3>

    <div class="demo-container">

        <div class="demo-row">
            <div class="demo-row-title">Basic</div>

            <div class="demo-row-content md:flex-1">
                <tw-select
                    class="w-64 max-w-full"
                    [formControl]="selectControl"
                >
                    <tw-option>Select an option</tw-option>
                    <tw-option
                        activeClass="bg-gray-100"
                        selectedClass="font-bold"
                        *ngFor="let item of options"
                        [value]="item.value"
                    >
                        {{item.label}}
                    </tw-option>
                </tw-select>
            </div>

            <div class="md:flex-1">
                Selected Value: {{ selectControl.value ? selectControl.value : '---' }}
            </div>
        </div>

        <div class="demo-row">
            <div class="demo-row-title">Compare with</div>

            <div class="demo-row-content md:flex-1">
                <tw-select
                    class="w-64 max-w-full"
                    [formControl]="selectCompareWithControl"
                    [compareWith]="compareWith"
                >
                    <tw-option>Select an option</tw-option>
                    <tw-option
                        activeClass="bg-gray-100"
                        selectedClass="font-bold"
                        *ngFor="let item of options"
                        [value]="item.value"
                    >
                        {{item.label}}
                    </tw-option>
                </tw-select>
            </div>

            <div class="md:flex-1">
                Selected Value: {{ selectCompareWithControl.value ? (selectCompareWithControl.value | json) : '---' }}
            </div>
        </div>

        <div class="demo-row">
            <div class="demo-row-title">Compare with <br> Initial value</div>
            <div class="demo-row-content md:flex-1">
                <tw-select
                    class="w-64 max-w-full"
                    [formControl]="selectCompareWithInitialValueControl"
                    [compareWith]="compareWith"
                >
                    <tw-option>Select an option</tw-option>
                    <tw-option
                        activeClass="bg-gray-100"
                        selectedClass="font-bold"
                        *ngFor="let item of options"
                        [value]="item"
                    >
                        {{item.label}}
                    </tw-option>
                </tw-select>
            </div>

            <div class="md:flex-1">
                Selected Value: {{ selectCompareWithInitialValueControl.value ? (selectCompareWithInitialValueControl.value | json) : '---' }}
            </div>
        </div>
    </div>

    <h3>Usage</h3>

    <markdown
        [data]="markdownUsage"
        class="max-h-96 block rounded overflow-y-auto"
    ></markdown>
</article>

<div class="content-footer">
    <div class="bottom-navigation-container">
        <span [hidden]="bottomNavigation?.first !== null"></span>

        <a
            *ngIf="bottomNavigation?.first as first"
            [routerLink]="[first.link]"
            class="first"
        >
            <svg
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                    fill-rule="evenodd"
                    d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
                    clip-rule="evenodd"
                ></path>
            </svg>
            <span class="truncate">{{first.label}}</span>
        </a>

        <span [hidden]="bottomNavigation?.last !== null"></span>

        <a
            *ngIf="bottomNavigation?.last as last"
            [routerLink]="[last.link]"
            class="last"
        >
            <span class="truncate">{{last.label}}</span>
            <svg
                fill="currentColor"
                viewBox="0 0 20 20"
            >
                <path
                    fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                ></path>
            </svg>
        </a>
    </div>
</div>