<div
    [class]="data.classes?.container"
    [@fadeAnimation]="{value: animationState, params:
    { fadeIn: data.animation?.fadeIn, fadeOut: data.animation?.fadeOut }}"
    (@fadeAnimation.done)="onFadeFinished($event)"
>
    <div [class]="data.classes?.card">
        <div class="p-4">
            <div class="flex items-start">
                <div class="flex-shrink-0">
                    <div [hidden]="data.type !== 'success'">
                        <svg
                            [class]="data.classes?.svg + ' ' + data.classes?.success"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                        </svg>
                    </div>

                    <div [hidden]="data.type !== 'info'">
                        <svg
                            [class]="data.classes?.svg + ' ' + data.classes?.info"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                        </svg>
                    </div>

                    <div [hidden]="data.type !== 'warning'">
                        <svg
                            [class]="data.classes?.svg + ' ' + data.classes?.warning"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                            />
                        </svg>
                    </div>

                    <div [hidden]="data.type !== 'danger'">
                        <svg
                            [class]="data.classes?.svg + ' ' + data.classes?.danger"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                        </svg>
                    </div>
                </div>
                <div class="ml-3 w-0 flex-1 pt-0.5">
                    <p class="text-sm font-medium text-gray-900">
                        {{data.title}}
                    </p>
                    <p
                        class="mt-1 text-sm text-gray-500"
                        [hidden]="!data.text"
                    >
                        {{data.text}}
                    </p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                    <button
                        [class]="data.classes?.button"
                        (click)="close()"
                    >
                        <span class="sr-only">Close</span>
                        <!-- Heroicon name: solid/x -->
                        <svg
                            class="h-5 w-5"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>