<div>
    <div class="text-lg p-4"><span class="text-gray-400">Button:</span> Layout and Colors</div>

    <div class="flex flex-col divide-y">

        <div class="flex space-x-3 items-center p-4">
            <div class="w-2/12">Basic</div>

            <div class="flex space-x-3">
                <button tw-button>
                    Basic
                </button>

                <button
                    tw-button
                    color="primary"
                >
                    Primary
                </button>

                <button
                    tw-button
                    color="secondary"
                >
                    Secondary
                </button>

                <button
                    tw-button
                    color="danger"
                >
                    Danger
                </button>

                <button
                    tw-button
                    disabled
                >
                    Disabled
                </button>

                <a
                    tw-button
                    disabled
                    href="https://www.google.com"
                    target="_blank"
                >
                    Link
                </a>
            </div>
        </div>

        <div class="flex space-x-3 items-center p-4">
            <div class="w-2/12">Raised</div>

            <div class="flex space-x-3">
                <button
                    tw-button
                    layout="raised"
                >
                    Basic
                </button>

                <button
                    tw-button
                    color="primary"
                    layout="raised"
                >
                    Primary
                </button>

                <button
                    tw-button
                    color="secondary"
                    layout="raised"
                >
                    Secondary
                </button>

                <button
                    tw-button
                    color="danger"
                    layout="raised"
                >
                    Danger
                </button>

                <button
                    tw-button
                    layout="raised"
                    disabled
                >
                    Disabled
                </button>

                <a
                    tw-button
                    disabled
                    layout="raised"
                    href="https://www.google.com"
                    target="_blank"
                >
                    Link
                </a>
            </div>
        </div>

        <div class="flex space-x-3 items-center p-4">
            <div class="w-2/12">Stroked</div>

            <div class="flex space-x-3">
                <button
                    tw-button
                    layout="stroked"
                >
                    Basic
                </button>

                <button
                    tw-button
                    color="primary"
                    layout="stroked"
                >
                    Primary
                </button>

                <button
                    tw-button
                    color="secondary"
                    layout="stroked"
                >
                    Secondary
                </button>

                <button
                    tw-button
                    color="danger"
                    layout="stroked"
                >
                    Danger
                </button>

                <button
                    tw-button
                    layout="stroked"
                    disabled
                >
                    Disabled
                </button>

                <a
                    tw-button
                    disabled
                    layout="stroked"
                    href="https://www.google.com"
                    target="_blank"
                >
                    Link
                </a>
            </div>
        </div>

        <div class="flex space-x-3 items-center p-4">
            <div class="w-2/12">Flat</div>

            <div class="flex space-x-3">
                <button
                    tw-button
                    layout="flat"
                >
                    Basic
                </button>

                <button
                    tw-button
                    color="primary"
                    layout="flat"
                >
                    Primary
                </button>

                <button
                    tw-button
                    color="secondary"
                    layout="flat"
                >
                    Secondary
                </button>

                <button
                    tw-button
                    color="danger"
                    layout="flat"
                >
                    Danger
                </button>

                <button
                    tw-button
                    layout="flat"
                    disabled
                >
                    Disabled
                </button>

                <a
                    tw-button
                    disabled
                    layout="flat"
                    href="https://www.google.com"
                    target="_blank"
                >
                    Link
                </a>
            </div>
        </div>

    </div>

    <div class="text-lg p-4 pt-8"><span class="text-gray-400">Button:</span> Sizes</div>

    <div class="p-3 space-x-3">
        <button
            tw-button
            layout="flat"
            color="primary"
            size="xs"
        >
            Button size
        </button>

        <button
            tw-button
            layout="flat"
            color="primary"
            size="sm"
        >
            Button size
        </button>
        
        <button
            tw-button
            layout="flat"
            color="primary"
            size="md"
        >
            Button size
        </button>
        
        <button
            tw-button
            layout="flat"
            color="primary"
            size="lg"
        >
            Button size
        </button>
        
        <button
            tw-button
            layout="flat"
            color="primary"
            size="xl"
        >
            Button size
        </button>
    </div>
</div>