/* purgecss start ignore */
/* Markdown Styles */
/* Global */
markdown {
    @apply leading-relaxed text-sm max-h-96 block overflow-y-auto;

    &:not(.has-tabs) {
        @apply rounded mt-4;
    }

    &.has-tabs {
        @apply rounded-b;
    }

    pre[class*='language-'] {
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;

        &::-webkit-scrollbar {
            height: 5px;
            overflow: visible;
            width: 5px;
        }

        &::-webkit-scrollbar-button {
            height: 0;
            width: 0;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 215, 0, 0.5);
            background-clip: padding-box;
            border: solid transparent;
            border-width: 1px 1px 1px 1px;
            min-height: 28px;
            padding: 100px 0 0;
            -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
            box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
        }

        &::-webkit-scrollbar-track {
            background-clip: padding-box;
            border: solid #272822;
            border-width: 0 0 0 5px;
        }
    }

    &::-webkit-scrollbar {
        height: 16px;
        overflow: visible;
        width: 5px;
    }

    &::-webkit-scrollbar-button {
        height: 0;
        width: 0;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 215, 0, 0.5);
        background-clip: padding-box;
        border: solid transparent;
        border-width: 1px 1px 1px 1px;
        min-height: 28px;
        padding: 100px 0 0;
        -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
        box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    }

    &::-webkit-scrollbar-track {
        background-clip: padding-box;
        border: solid #272822;
        border-width: 0 0 0 5px;
    }
}

@screen sm {
    markdown {
        @apply text-base;
    }
}

@screen lg {
    markdown {
        @apply text-base;
    }
}

/* Headers */
markdown h1,
markdown h2 {
    @apply text-xl my-6 font-semibold;
}
markdown h3,
markdown h4,
markdown h5,
markdown h6 {
    @apply text-base font-semibold mt-6 mb-3;
}

@screen sm {
    markdown h1,
    markdown h2 {
        @apply text-2xl;
    }
    markdown h3,
    markdown h4,
    markdown h5,
    markdown h6 {
        @apply text-base;
    }
}

/* Links */
markdown a {
    @apply text-blue-600;
}
markdown a:hover {
    @apply underline;
}
/* Paragraph */
markdown p {
    @apply mb-4;
}
/* Lists */
markdown ul,
markdown ol {
    @apply mb-4 ml-8;
}
markdown li > p,
markdown li > ul,
markdown li > ol {
    @apply mb-0;
}
markdown ol {
    @apply list-decimal;
}
markdown ul {
    @apply list-disc;
}
/* Blockquotes */
markdown blockquote,
blockquote {
    @apply p-4 mb-4 border-l-4 border-gray-400 bg-gray-100 italic;
}
markdown blockquote > p,
blockquote > p {
    @apply mb-0 #{!important};
}
/* Tables */
markdown td,
markdown th {
    @apply px-2 py-1 border border-gray-400;
}
markdown tr:nth-child(odd) {
    @apply bg-gray-100;
}
markdown table {
    @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
     the setting for codeblocks (inside ```), which are rendered in as:
     <pre><code>...
  */
markdown :not(pre) > code.language-text {
    white-space: pre-line;
}
/* purgecss end ignore */
